.navbar {
  z-index: 1 !important;
  background-color: #3acf95 !important;
}

.navbar .appLogo {
  width: 120px;
}

.navbar-nav {
  padding: 10px 0px 0px 0px;
}

@media only screen and (max-width: 767px) {
  .navbar .mx-5 {
    margin: 10px 5px 0px 5px !important;
  }
  .navbar .w-100 {
    width: auto !important;
    margin-top: -10px !important;
  }
  .navbar .appLogo {
    position: absolute !important;
    left: 50px;
    top: 5px;
  }
}
